.banner{
  text-align: center;
  background-color:green;
  width:100vw;
  margin:0px;
  padding: 0px;
  height: 25vh;

}
.banner h1{
    margin-top:0;
}

.navbar{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content:space-around;
    margin:0;
    /* background-color: black; */
    width:50vw;
    padding: 0px;
    margin: -20px 25vw;
    
}

.Knife{
    position: fixed;
    z-index: 1;
    top:25vh;
    left:85vw;
    width:15vw;
}
.Knife img{
    object-fit: cover;
    display: block;
    width:15vw;
    height:70vh;
}
.Fork{
    position: fixed;
    z-index: 1;
    top:25vh;
    left:0;
    width: 15vw;
   
}
.Fork img{
    object-fit: cover;
    display: block;
    margin:0;
    width:15vw;
    height: 70vh;
    
}