img{
    width:50vw;
    height: 50vh;
}
.View{
    margin-top: 10vh;
    margin-left: 25vw;
    margin-right: 25vw;
    text-align: center;
    border-bottom: solid 1px green;

}
.Comments{
    margin-left: 25vw;
    margin-right:0;
    padding-left:10px;
    background-color:  #242424;
    text-align: left;
}
.Comments input{
    margin-left:5vw;
}
.Comments h3{
    width: 25vw;
    border-radius: 5px;
    background-color: lightgreen;
    padding-left: 5px;
    
}
.View button{
    margin:10px
}