.center-container{
    margin-left: 20vw;
    margin-right: 20vw;
   
}
.form-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.form-inputs input{
    margin-left: 0;
}
textarea{
    resize: none;
    width:50vw;
    height: 25vh;
}

input{
    width:30vw;
    height: 5vh;
    
}