.usertoggles{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
input{
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttons-group{
    width: 100%;
    margin-bottom: 10px;    
}
.buttons-group button{
    margin-left: 0px;
    margin: 5px;
   
}